<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sam.wordkeeperj.mapper.MeaningMapper">
    <select id="findAllByWordName" resultType="com.sam.wordkeeperj.entity.Meaning">
        select * from meaning where word_name = #{wordName}
    </select>

    <update id="updateMeaning">
        update meaning set
        type = #{type},
        content = #{content}
        where id = #{id}
    </update>

    <insert id="addMeaning">
        insert into meaning
        (id, word_name, type, content)
        values
        (null, #{wordName}, #{type}, #{content})
    </insert>
</mapper>